{# src/SC/ActiviteBundle/Resources/views/Stage/viewAll.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block activité_body %}
    
    <p><FONT color="green">
      {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
          <p>{{ message }}</p>
        {% endfor %}
    </FONT></p>
    
    <h3>Stages pour les enfants pour la saison en cours</h3>
    <br/>
    <p>En vert les inscriptions payées, en rouge les inscriptions pas encore payées.
    <br>Cliquez sur "Confirmer" pour accuser la réception du paiement, que le client pourra voir également sur son compte.
    <br>Vous pouvez également supprimer les inscriptions aux stages. Attention, la suppression est définitive.</p>
    
    <br/>
    
<table border="1" cellpadding="10" cellspacing="1" width="100%">
   <tr>

       <th><center>Nom</center></th>

       <th><center>Prénom</center></th>

       <th><center>Activité</center></th>

       <th><center>Stages</center></th>
       
       <th><center>Paiement</center></th>

       <th><center>Action</center></th>

   </tr>

   {% for stage in listeInscriptionStages %}
   <tr>

       <td><center>{{ stage.nomEnfant }}</center></td>

       <td><center>{{ stage.prenomEnfant}}</center></td>

       <td><center>{{ stage.nomActivite}}</center></td>

       <td><center>{{ stage.debutStage }} au {{ stage.finStage }}</center></td>

       {% if  stage.prixPayeStage == 0 %}
       <td  bgcolor="#DF0101"><center></center></td>
       {% else %}
       <td  bgcolor="#01DF01"><center></center></td>
       {% endif %}
       {% if  stage.prixPayeStage == 0 %}
       <td><center><a href="{{path('sc_activite_confirmPayment', {
            'id': stage.id,
            'nomActivite': stage.nomActivite,
            'email': email,
            'nomEnfant': stage.nomEnfant,
            'prenomEnfant': stage.prenomEnfant,
            'debutStage': stage.debutStage,
            'finStage': stage.finStage})}}">Confirmer le paiement</a></center></td>
       {% else %}
       <td><center>Paiement confirmé</center></td>
       {% endif %}
       <td><center><a href="{{path('sc_activite_deleteInscriptionStage', {
            'id': stage.id,
            'nomActivite': stage.nomActivite,
            'email': email,
            'nomEnfant': stage.nomEnfant,
            'prenomEnfant': stage.prenomEnfant,
            'debutStage': stage.debutStage,
            'finStage': stage.finStage})}}">Supprimer</a></center></td>

   </tr>
   {% endfor %}
   
</table>
 
{% endblock %}