{# src/SC/ActiviteBundle/Resources/views/Stage/index.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block activité_body %}
<ul>
 
    {% for stage in listeStages %}
        <b>{{ stage.nomStage }}</b>
       <br><br/>
       Type d'activité : {{ activite.nomActivite }}
       <br/>
       Saison : {{ stage.saison.annee }}
       <br/>
       Lieu : {{ stage.lieu.nomLieu }}
       <br/>
       Dates : du {{ stage.debutStage }} au {{ stage.finStage }}
       <br/>
       Prix : {{ stage.prixStage }}
       <br/>
       Charges : {{ stage.charges }}
       <br/>
        <a href="{{ path('sc_activite_deleteStage', {'id': activite.id, 'debutStage' : stage.debutStage, 'finStage' : stage.debutStage}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer
        </a>
        <br><br/>
        <br><br/>        
    {% endfor %}    
</ul> 
 
{% endblock %} 

