{% extends "SCUserBundle::layout.html.twig" %}
{% block user_body %}
<h3>Ajouter un Enfant </h3>

 
  <p><FONT color="red">
      {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
          <p>{{ message }}</p>
        {% endfor %}
    </FONT></p>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.nomEnfant, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.nomEnfant) }}
      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.nomEnfant, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.prenomEnfant, "Prenom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.prenomEnfant) }}
      <div class="col-sm-4">
        {{ form_widget(form.prenomEnfant, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.niveauSki, "Niveau de ski", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.niveauSki) }}
      <div class="col-sm-4">
        {{ form_widget(form.niveauSki, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
          {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.dateNaissance, "Date de naissance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.dateNaissance) }}
      <div class="col-sm-4">
        {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div> 
{% endblock %}