{# src/SC/ActiviteBundle/Resources/views/Activite/index.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block activité_body %}
<ul>
    
   

    <center> <h2> Saison: {{ app.session.get('year') }} </h2> </center>

 
    {% for activite in listeActivites %}
        <a href="{{ path('sc_activite_view', {'id': activite.id}) }}">
          {{ activite.nomActivite }}
        </a> 
        <br>
    {% endfor %}
        <br>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('sc_activite_add')}}">
          Ajouter une activité
        </a>
          
        <br>
        <a href="{{ path('sc_licence_homepage')}}">
          Voir la liste des licences  
        </a>
          
        {% endif %}
        
        

</ul> 
 
{% endblock %} 

