{# src/SC/ActiviteBundle/Resources/views/Activite/view.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}
  Afficher une activité - {{ parent() }}
{% endblock %}
{% block activité_body %}
    
      
  <p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %}
  </p>
    
  <h2>{{ activite.nomActivite }}</h2>

 
  <ul> {{ activite.description }} </ul>
    
    <br>
    </br>
    
    <ul> Le prix de l'activité est: {{activite.prixActivite}} € </ul>
    
    {% if activite.licence  != null %}
    <ul> Le type de la licence est: {{activite.licence.typeLicence}} et son prix est: {{activite.licence.prixLicence}} €  </ul>
    {% endif %}
  <p>
    
     
    <a href="{{ path('sc_activite_inscriptionActivite' , {'id': activite.id})}}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Inscription à l'activité
    </a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('sc_activite_edit', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'activité
    </a>
    <a href="{{ path('sc_activite_delete', {'id': activite.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'activité
    </a>
    {% endif %}
    </a>
    <br><br/>
    <a href="{{ path('sc_activite_voirSortie', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Sortie prévues
    </a>
    <a href="{{ path('sc_activite_personnesInscrites', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Voir les inscriptions aux sorties
    </a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('sc_activite_ajoutSortie', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Ajouter une sortie
    </a>
    {% endif %}
      <br><br/>
    <a href="{{ path('sc_activite_viewStage', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Stages prévus
    </a>
    <a href="{{ path('sc_activite_viewChildrenStages', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Voir les inscriptions aux stages
    </a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('sc_activite_addStage', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Ajouter un stage
    </a>
    {% endif %}
    <br><br/>
    <br><br/>
    <a href="{{ path('sc_activite_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    
    
  </p>
{% endblock %} 


