{# src/SC/ActiviteBundle/Resources/views/Activite/view.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}
  Afficher une activité - {{ parent() }}
{% endblock %}
{% block activité_body %}
    
      
  <p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      <FONT color="green">{% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %}</FONT>
  </p>
  <p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      <FONT color="red">{% for message in app.session.flashbag.get('info2') %}
        <p>{{ message }}</p>
      {% endfor %}</FONT>
  </p>
  
  <h2>{{ activite.nomActivite }}</h2>
    <br>
    </br>
    <p> <FONT color="blue"> Vous pouvez inscrire votre enfant à l'activité. Il pourra
        alors participer aux différentes sorties prévues. Il peut également participer
        à des stages. Si une licence est requise et que votre enfant ne possède 
        pas la licence pour cette activité, il faudra obtenir la licence associée (même pour des stages).
         {% if   app.session.get('email')    == null  %}
         Mais tout d'abord vous devez vous connecter. 
          {% endif %} </FONT> </p>
    </br><br>
  <ul> {{ activite.description }} </ul>

    
    <br>
    </br>
    
    <p> Le prix de l'activité est : {{activite.prixActivite}} € </p>
    
    {% if activite.licence  != null %}
    <p> La licence associée est la licence {{activite.licence.typeLicence}} et coûte {{activite.licence.prixLicence}} €  </p>
    {% endif %}
  <p>
    
    {% if   app.session.get('email')    !=null  %}
    <a href="{{ path('sc_activite_inscriptionActivite' , {'id': activite.id})}}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Inscription 
    </a>
    <a href="{{ path('sc_activite_viewAllActiviteUser', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Voir les inscriptions à l'activité
    </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('sc_activite_edit', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'activité
    </a>
    <a href="{{ path('sc_activite_delete', {'id': activite.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'activité
    </a>
    {% endif %}
    </a>
    <br><br/>
    <a href="{{ path('sc_activite_voirSortie', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Sortie prévues
    </a>
    {% if (app.session.get('email') != null) %}
    <a href="{{ path('sc_activite_obtenirSortie', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Voir les inscriptions aux sorties 
    </a>      
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('sc_activite_ajoutSortie', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Ajouter une sortie
    </a>
    {% endif %}
      <br><br/>
    <a href="{{ path('sc_activite_viewStage', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Stages prévus
    </a>
    {% if (app.session.get('email') != null) %}
    <a href="{{ path('sc_activite_viewChildrenStages', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Voir les inscriptions aux stages
    </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('sc_activite_addStage', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Ajouter un stage
    </a>
    {% endif %}
    <br><br/>
    <br><br/>
    <a href="{{ path('sc_activite_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    
    
  </p>
{% endblock %} 


