{# app/Resources/views/layout.html.twig #}
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}SkiClub des petites rocheuses{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>SkiClub des petites rocheuses</h1>
      <p>
        Ce projet est propulsé par Symfony2,
        et construit par les élèves de Ensimag.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="https://scpetitesroches.wordpress.com/">
          Voir l'ancien site web»
        </a>
      </p>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>SkiClub</h3>
        <ul class="nav nav-pills nav-stacked">
            {% if is_granted('ROLE_ADMIN') %} 
                <li><a href="{{ path('sc_activite_homepage') }}">Gestion des activités</a></li>
                <li><a href="{{ path('sc_admin_Tresorerie') }}">Trésorie</a></li>
            {%else%}
            <li><a href="{{ path('sc_activite_homepage') }}">Activités</a></li>
            {% endif %}
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
             {% if is_granted('ROLE_ADMIN') %} 
               <li><a href="{{ path('sc_admin_homepage') }}">Gestion des utilisateurs</a></li>
             {% endif %}
            <li><a href="{{ path('sc_user_compte') }}">Mon compte</a></li>
            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
          {%else%}
            <li> <a href="{{ path('login') }}">Se connecter</a></li>
            <li><a href="{{ path('sc_user_register') }}">S'enregistrer</a></li>
          {% endif %}
        

      </div>
      <div id="content" class="col-md-9">
        {% block body %}
           
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}
</body>
</html>
