{# src/SC/ActiviteBundle/Resources/views/index.html.twig #}
{% extends "SCActiviteBundle:Activite:layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block activité_body %}
<ul>
 
    {% for sortie in listSortie %}
       {{ sortie.dateSortie|date('Y-m-d H:i:s')  }} --- {{ sortie.lieu.nomLieu }}
       
        <a href="{{ path('sc_activite_deleteSortie', {'id': activite.id}) }}?idSortie={{sortie.IdSortie }}" >
            Supprimer cette sortie
        </a>
        
        <br/>    
    {% endfor %}    
</ul> 
 
{% endblock %} 
