{# src/SC/ActiviteBundle/Resources/views/view.html.twig #}
{% extends "SCActiviteBundle::layout.html.twig" %}
{% block title %}
  Afficher une activité - {{ parent() }}
{% endblock %}
{% block activité_body %}
    
  <h2>{{ activite.nomActivite }}</h2>
 
  <div class="well">
    {{ activite.description }}
  </div>
    <ul> Le prix de l'activité est: {{activite.prixActivite}} € <ul>
  <p>
    <a href="{{ path('sc_activite_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('sc_activite_edit', {'id': activite.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'activité
    </a>
    <a href="{{ path('sc_activite_delete', {'id': activite.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'activité
    </a>
  </p>
{% endblock %} 
