{% extends "SCUserBundle::layout.html.twig" %}


{% block user_body %}
               
        <h3><p>
     {# On affiche tous les messages flash dont le nom est « info » #}
     <FONT color="green"> {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %} </FONT>
       </p>
      </h3>


    
    <h4>Informations concernant le compte</h4>
  <br/>
  <p><u>Montant payé pour la saison <b>{{adhesion.saison.annee }}</b></u> : {{adhesion.montantPaye}} €<p/>
  <br/>
  <p><u>Montant de la remise  pour la saison <b>{{adhesion.saison.annee }}</b></u> : {{adhesion.remise}} €<p/>
   <br/>
  <p><u>Montant total à payer*  pour la saison <b>{{adhesion.saison.annee }}</b></u> : {{dette}} € 
  <br/>
  *Ce montant correspond à la somme des activité des différents enfants et de leurs licences. Il faut donc ajouter <u>l'adhésion Annuel</u>.
  <p/> 
  <br/>
  {% if adhesion.modalite != null%}
  <p><u>Nombre de modalité choisi pour le paiement</u> :   {{adhesion.modalite}} <p/>
   <br/>
   {% else %}
     <p>l'utilisateur n'a pas encore choisi ses modalités de paiement<p/>
   <br/>   
   {% endif %}
   {% if adhesion.adhesionAnnuel == false%}
         <form action="{{ path('sc_admin_adherer',{'email': user.email}) }}" method="post">
    <label for="adhesion">Adhésion : </label>
    <input type="checkbox"  name="_adhesion" value="1" />        
     <input type="submit" value="ajouter" />
     </form>
     {% else %}
       <p> L'adhésion de la saison <b>{{adhesion.saison.annee }}</b> est payé.<p/>
       <br/>  
     {% endif %}     
             
    <form action="{{ path('sc_admin_ajoutMontant',{'email': user.email}) }}" method="post">
    <label for="montant">Valeur du paiement : </label>
    <input type="number" id="montant" name="_montant" value="" />        
     <input type="submit" value="ajouter" />
    </form>
    <br/>  
         
      <form action="{{ path('sc_admin_ajoutRemise',{'email': user.email}) }}" method="post">
    <label for="remise">Valeur de la remise : </label>
    <input type="number" id="remise" name="_remise" value="" />        
     <input type="submit" value="ajouter" />
     </form>
    <br/>  
    
    
    

    <form action="{{ path('sc_admin_changePassword',{'email': user.email}) }}" method="post">
  <label for="password">Nouveau mot de passe : </label>
    <input type="password" id="password" name="_password" value="" /> 
    <br>
    <label for="conf_password">Confirmation mot de passe : </label>
    <input type="password" id="conf_password" name="_conf_password" value="" />
    <br>
     <input type="submit" value="Modifier" /> {# change -> Modifier #}
     </form>
     
     
    <h4><a href="{{ path('sc_admin_activerAdmin', {'email': user.email}) }}" class="btn btn-default">

      <i class="glyphicon glyphicon-plus"></i>
      Donner les droits d'administrateurs
    </a> 
    
    
    <a href="{{ path('sc_admin_gestionEnfant', {'email': user.email}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-folder-open"></i>
      Gestion des enfants
    </a>   
  
    <a href="{{ path('sc_activite_viewAllStagesUser', {'email': user.email}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-folder-open"></i>
      Gestion des inscriptions des stages
    </a>          
           

    
{% endblock %}
