{% extends "SCUserBundle::layout.html.twig" %}


{% block user_body %}

    
    {% for inscription in listeEnfantsInscrits %}
        
        <p>     {{ inscription.prenomEnfant }}  {{ inscription.nomEnfant }}  est inscrit à l'activité {{ inscription.activite.nomActivite }}  
    {% if inscription.groupe != null %}
       au groupe {{ inscription.groupe }}.
       
          <form action="{{ path('sc_affecter_groupe',{'id' : inscription.activite.id ,'email': inscription.email, 'prenomEnfant': inscription.prenomEnfant , 'nomEnfant' : inscription.nomEnfant }) }}"  method="post" >
          <label for="groupe"> Modifier le groupe:</label>
          <input type="text" id="groupe" name="_groupe" value="" />
          <input type="submit" value="valider" />
          </form>    </p>
    
    {%else %}
     
          <form action="{{ path('sc_affecter_groupe',{'id' : inscription.activite.id ,'email': inscription.email, 'prenomEnfant': inscription.prenomEnfant , 'nomEnfant' : inscription.nomEnfant }) }}"  method="post" >
          <label for="groupe"> Affecter un groupe:</label>
          <input type="text" id="groupe" name="_groupe" value="" />
          <input type="submit" value="valider" />
          </form>   </p>
    {% endif %}
    {% endfor %}   
    
  
 
{% endblock %} 