{% extends "SCUserBundle::layout.html.twig" %}


{% block user_body %}

    
    <h2> Gestion du compte de {{user.prenom}} {{user.nom}}<h2/>
       {# <h4> Adhésion 2014 payer:{{adhesion.adhesionAnnuel}} <h4/>#}
        <h4> montant payé :{{adhesion.montantPaye}} <h4/>
          
         <h4> montant remise :{{adhesion.remise}} <h4/>   
    <form action="{{ path('sc_admin_ajoutMontant',{'email': user.email}) }}" method="post">
    <label for="montant"> Valeur du paiement :</label>
    <input type="number" id="montant" name="_montant" value="" />        
     <input type="submit" value="ajouter" />
     </form>
     
     
      <form action="{{ path('sc_admin_ajoutRemise',{'email': user.email}) }}" method="post">
    <label for="remise"> Valeur de la remise :</label>
    <input type="number" id="remise" name="_remise" value="" />        
     <input type="submit" value="ajouter" />
     </form>
    
      <form action="{{ path('sc_admin_adherer',{'email': user.email}) }}" method="post">
    <label for="adhesion"> Adhesion :</label>
    <input type="checkbox"  name="_adhesion" value="1" />        
     <input type="submit" value="ajouter" />
     </form>
     
     
    <h4><a href="{{ path('sc_admin_activerAdmin', {'email': user.email}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus"></i>
      rendre Admin
    </a> <h4/>
         
        
    

    
{% endblock %}
