{# src/SC/UserBundle/Resources/views/Admin/listUsers.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}


{% block user_body %}
     <p>
     {# On affiche tous les messages flash dont le nom est « info » #}
    <FONT color="green">    {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %} </FONT>
       </p>
     

    
    <table id="myTable" class="tablesorter"  border="1" cellpadding="10" cellspacing="1" width="100%">
        <thead> 
        <tr>
        <th><center>e-mail</center></th>  
        <th><center>Nom</center></th>
        <th><center>Prénom</center></th>
        <th><center>Telephone</center></th>
        <th><center>Adresse</center></th>
        <th><center>Commune</center></th>
        <th><center>Type</center></th> 
        <th><center>Gestion</center></th>
        </tr>
        </thead>
        <tbody> 
    {% for user in listNoAdmin %}
        
<tr>
        <td><center> {{ user.email }}</center></td>  
        <td><center>{{ user.nom }}</center></td>
        <td><center>{{ user.prenom }}</center></td>
        <td><center>{{ user.telephone}}</center></td>
        <td><center>{{ user.adresse}}</center></td>
        <td><center>{{ user.commune}}</center></td>
        <td><center>{{ user.type }}</center></td>    
    <td><center><a href="{{ path('sc_admin_gestionCompte', {'email': user.email}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-folder-open"></i>
      gestionCompte
    </a></center></td>
        </tr>  
         
        
    {% endfor %}
    </tbody>
    </table> 
    

    
    
{% endblock %}
