{% extends "SCUserBundle::layout.html.twig" %}
{% block user_body %}

    <h4>Activite : {{ activite.getNomactivite }}  <div align="right"> Saison : {{ saison }}</div></h4><br/> 
  
    <p> Voici les inscriptions de vos enfants pour l'activité {{ activite.getNomactivite }}.<br/>Vous pourrez annuler ou confirmer sa participation et vous obtiendrez également un rappel des autres enfants inscrits <p>
    <br/>
    {% for sortie in mesSorties %}
        
        {{ sortie.dateSortie }} à  {{ sortie.nomLieu }} :
        <a href="{{path('sc_inscription_getChoix', {'id': activite.id,'dateSortie' : sortie.dateSortie  , 'lieu': sortie.nomLieu,'nomEnfant': sortie.nomEnfant,'prenomEnfant': sortie.prenomEnfant }) }}"> 
        {{ sortie.nomEnfant }} </a> {{sortie.participation}} <br/>
        
        
        
    {%endfor%}    
    
    {%if mesSorties == null %}
        Aucune inscription
    {%endif%}  
    <br/>
    <br/>
    {%if choix is defined and choix == 1 %}
        <center>Vous pouvez confirmer ou annuler la participation de {{ prenomEnfant }} à la sortie :</center><br/><br/> <center><b>{{ dateSortie }} à {{ lieu }} </b></center><br/>
        Pour rappel voici les inscrits <br/> <br/>

        <table border="1" cellpadding="10" cellspacing="1" width="100%" id="tab">
            <tr> 
            <th><center>Nom </center></th>
            <th><center>Prénom</center></th>
            <th><center>Confirmation</center></th>
            <th><center>Groupe</center></th>
    
            <tr/>       
        {%for inscrit in inscrits %}
            <script>tab.sort() </script>
          {#  {%if (inscrit.emailParent != app.session.get('email')) or (inscrit.emailParent == app.session.get('email') and inscrit.nomEnfant != nomEnfant and inscrit.prenomEnfant != prenomEnfant) %} #}
                
                <tr>     
                    <td><center> {{ inscrit.nomEnfant }} </center></td>  
                    <td><center> {{ inscrit.prenomEnfant }}  </center></td>  
                
                    {%if inscrit.participation == 1 %} 
                       <td  bgcolor="#01DF01"><center></center></td>
                    {%else%}
                        <td  bgcolor="#DF0101"><center></center></td>
                    {%endif%}
                    <td><center> {{ inscrit.groupe }}  </center></td>
                        
                </tr> 
          {#  {%endif%} #}
        {%endfor%}
     </table>
     <br/>
     <br/>
     <br/>     
    <a href="{{path('sc_inscription_validation', { 'id': activite.id,'dateSortie' : dateSortie  ,'nomEnfant': nomEnfant,'prenomEnfant': prenomEnfant }) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
            Je valide cette sortie  
    </a> 
    <a href="{{path('sc_inscription_annulation', { 'id': activite.id,'dateSortie' : dateSortie  ,'nomEnfant': nomEnfant,'prenomEnfant': prenomEnfant }) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
            J'annule ma participation  
    </a>
            
    {%endif%}     
{% endblock %}    