{# src/SC/UserBundle/Resources/views/Security/monCompte.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}

{% block user_body %}
    
    <p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      <FONT color="green">{% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p> 
      {% endfor %}</FONT>
    </p>
     
  <h3> Mon compte: </h3>
<p><b> Adresse e-mail</b> : {{app.session.get('email')}}</p>




    <h4><a href="{{ path('sc_user_compteEnfant') }}">Gestion des enfants</a><h4/>
    <h4><a href="{{ path('sc_user_paramCompte') }}">Paramètres du compte</a><h4/>

   
 {#       {% if is_granted('ROLE_ADMIN') %}
            <h4><a href="{{ path('sc_admin_homepage') }}">Gestion Activité/utilisateur</a><h4/> 
        {%else%}
            <h4><a href="{{ path('sc_activite_homepage') }}">Liste des activités proposées</a><h4/>
        {% endif %}  #}
        


     <h4><a href="{{ path('sc_activite_listeEnfantsInscrits') }}">Liste des enfants inscrits aux activités et montant à payer</a><h4/>

   {%if voirActivite is not defined %}  
       Pour  confirmer votre participation à une sortie: <br/>
   <a href="{{ path('sc_activite_voirActivite') }}">Mes inscriptions</a>
   {%endif%}


    {%if voirActivite is defined and voirActivite == 1 %}
        
        <br><center> <b>Vous allez accèder à vos inscriptions, choisissez l'activité voulue : </b></center> <br/>    <br/>
        {#  {{ form(form) }} #}
            {%for activite in activites %}
             <center>   <a href="{{ path('sc_activite_mesInscr' , {'id': activite.id }) }}"> {{ activite.nomActivite }} </center> </a> <br/>
            {%endfor%}
    {%endif%}    
  
  

{% endblock %}
