{# src/SC/UserBundle/Resources/views/Security/monCompte.html.twig #}

{% extends "SCUserBundle::layout.html.twig" %}

{% block user_body %}
    <h1> email primaire :{{nom}}<h1/>
    <h2><a href="{{ path('sc_enfant_ajouter') }}">Ajouter un Enfant</a><h2/>
    <h2><a href="{{ path('sc_user_ajouter') }}">Ajouter utilisateur secondaire</a><h2/>
   
        {% if is_granted('ROLE_ADMIN') %}
            <h2><a href="{{ path('sc_admin_homepage') }}">Gestion Activité/utilisateur</a><h2/> 
        {%else%}
            <h2><a href="{{ path('sc_activite_homepage') }}">Liste des activités proposées</a><h2/>
        {% endif %}
        
    <h2> Enfant(s) inscrit(s) :
        <ul> <li>{% for enfant in listEnfants %}
                {{ enfant.prenomEnfant }}<li/>
            {% endfor %}
        </ul>
   <h2><a href="{{ path('sc_activite_listeEnfantsInscrits') }}">Liste des enfants inscrits aux activités</a><h2/>
   <h3><p>
    {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %}
  </p>
  </h3>
{% endblock %}

