{% extends "SCUserBundle::layout.html.twig" %}

{% block user_body %}
  <h4>Informations concernant le compte</h4>
  <br/>
  <p><b> Adresse e-mail</b> : {{app.session.get('email')}}</p>

  <br/>
  <p><u>Montant payé pour la saison <b>{{adhesion.saison.annee }}</b></u> : {{adhesion.montantPaye}} €<p/>
  <br/>
  <p><u>Montant total à payer*  pour la saison <b>{{adhesion.saison.annee }}</b></u> : {{dette}} € 
  <br/>
  *Ce montant correspond à la somme des activité des différents enfants et de leurs licences. Il faut donc ajouter <u>l'adhésion Annuel</u>.
  <p/> 
  <br/>
  <p>Vous pouvez ajouter un utilisateur secondaire. Un utilisateur secondaire peut inscrire vos enfants avec son propre compte et son propre mot de passe.</p>
  <p><a href="{{ path('sc_user_ajouter') }}">Ajouter</a><p/>
  
  </br>
  <p><u>Changer de mot de passe</u></p>
  <form action="{{ path('sc_admin_changePassword',{'email': user.email}) }}" method="post">
  <label for="password">Nouveau mot de passe : </label>
  <input type="password" id="password" name="_password" value="" /> 
  <br>
  <label for="conf_password">Confirmation mot de passe : </label>
  <input type="password" id="conf_password" name="_conf_password" value="" />  
  <br>
  <input type="submit" value="Modifier" />
  </form>
    
{% endblock %}