{% extends "SCUserBundle::layout.html.twig" %}

{% block user_body %}
  <h4>Informations concernant le compte</h4>
  <br/>
  <p><b> Adresse e-mail</b> : {{app.session.get('email')}}</p>

  <br/>
  <p><u>Montant payé pour la saison <b>{{adhesion.saison.annee }}</b></u> : {{adhesion.montantPaye}} €<p/>
  <br/>
  <p><u>Montant total à payer*  pour la saison <b>{{adhesion.saison.annee }}</b></u> : {{dette}} € 
  <br/>
  *Ce montant correspond à la somme des activité des différents enfants et de leurs licences. Il faut donc ajouter <u>l'adhésion Annuel</u>.
  <p/> 
   <br/>
    {% if adhesion.adhesionAnnuel == false%}
  <p>Attention,  l'adhésion de la saison <b>{{adhesion.saison.annee }}</b> n'est pas payé.<p/>
  {% else %}
     <p> L'adhésion de la saison <b>{{adhesion.saison.annee }}</b> est payé.<p/>
   <br/>   
  {% endif%}
  {% if adhesion.modalite == null%}
    <p><u>Choisir modalité de paiement</u></p>
  <form action="{{ path('sc_user_choixModalite') }}" method="post">
  <label for="modalite">Choisir le nombre de modalite(1,2 ou 3) </label>
  <input type="number" id="modalite" name="_modalite" value="" min='1' max='3' /> 
  <input type="submit" value="Choisir" />
  </form>
  {% else %}
     <p><u>Nombre de modalité choisi pour le paiement</u> :   {{adhesion.modalite}} <p/>
   <br/>   
  {% endif%}
 
  <br/>
  
  
  <p>Vous pouvez ajouter un utilisateur secondaire. Un utilisateur secondaire peut inscrire vos enfants avec son propre compte et son propre mot de passe.</p>
    <a href="{{ path('sc_user_ajouter')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Ajouter 
    </a>
      <br>
  </br>
  <p><u>Changer de mot de passe</u></p>
  <form action="{{ path('sc_admin_changePassword',{'email': user.email}) }}" method="post">
  <label for="password">Nouveau mot de passe : </label>
  <input type="password" id="password" name="_password" value="" /> 
  <br>
  <label for="conf_password">Confirmation mot de passe : </label>
  <input type="password" id="conf_password" name="_conf_password" value="" />  
  <br>
  <input type="submit" value="Modifier" />
  </form>
    
{% endblock %}