{# src/SC/UserBundle/Resources/views/Security/viewinscriptionactivite.html.twig #}
{% extends "SCUserBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block user_body %}

    
    {% for inscription in listeDeMesInscriptions %}
        
        <p>      {{ inscription.prenomEnfant }}  {{ inscription.nomEnfant }}  est inscrit à l'activité {{ inscription.activite.nomActivite }}  
        {% if prix != 0 %}
            au groupe {{inscription.groupe}}. </p>
        {%endif%}
        
        <br>
    {% endfor %}  
    {% if prix != 0 %}
    <p> le prix total à payer:(prix activités + licences) est: {{prix}} € </p>
    {%endif%}
{% endblock %} 
