{# src/SC/UserBundle/Resources/views/Security/viewinscriptionactivite.html.twig #}
{% extends "SCUserBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block user_body %}

    <table id="myTable" class="tablesorter" border="1" cellpadding="10" cellspacing="1" width="100%">
    <thead> 
     <tr>

       <th><center>Nom</center></th>
      <th><center>Prénom</center></th>
      <th><center>Activité</center></th>
      <th><center>Prix activité</center></th>
      <th><center>Licence</center></th>
      <th><center>Prix licence</center></th>  
       <th><center>Groupe</center></th>


    </tr>
    </thead>
    <tbody> 

    {% for inscription in listeDeMesInscriptions %}
    <tr>

       <td><center>{{ inscription.prenomEnfant }}</center></td>

       <td><center>{{ inscription.nomEnfant}}</center></td>

       <td><center>{{ inscription.activite.nomActivite }}</center></td>
       <td><center>{{ inscription.activite.prixActivite }}</center></td>
       <td><center>{{ typeLicence[inscription.prenomEnfant ~ inscription.nomEnfant ~ inscription.email ~ inscription.activite.nomActivite ~ inscription.saison.annee] }}</center></td>
       <td><center>{{ prixLicence[inscription.prenomEnfant ~ inscription.nomEnfant ~ inscription.email ~ inscription.activite.nomActivite ~ inscription.saison.annee] }}</center></td>
       <td><center>{{ inscription.groupe }}</center></td>



    </tr>
    {% endfor %}
    </tbody> 
   
    </table>
    
    <br>
    {% if prix != 0 %}
    <p>Le prix total à payer (prix activités et licences) est de {{prix}} € </p>
    {%endif%}
{% endblock %} 

